<div>
  <div *ngFor="let table of tables; let i = index" click="setCurrentTable(table)">
    <span class="d-flex w-25 list-table">Table {{ table.name }}</span>
    <!-- <div *ngFor="let seat of table; let i = index">
      <div [ngClass]="seat === currentSeat ? 'activeSeat' : 'seat'" class="seat w-25" (click)="setCurrentSeat(seat)">
        <span>Seat {{ i + 1 }}</span>
      </div>
      <div [ngClass]="{activeItem: item === currentItem}" class="item d-flex justify-content-between w-25" *ngFor="let item of seat" (click)="setCurrentItem(item, seat)">
        <div>
          <span> {{ item.name }} </span>
          <span> {{ item.price }} </span>
        </div>
      </div>
    </div> -->
  </div>
</div>

<div *ngFor="let product of products">
  <button class="product" (click)="addItem(product)">{{product.name}}</button>
</div>

<!-- <button (click)="removeProduct()"></button> -->


<button *ngIf="tableSelected" (click)="toggleAddTableModal()">Table +</button>

<div *ngIf="displayAddTableModal" class="w-50 p-2 d-flex justify-content-center add-table-modal">
  <label class="m-2">Table Name</label>
  <input class='rounded-pill px-3'>
</div>

