$blue: #586cf3;
$blue-dark: #1226aa;
$blue-light: #a6b0ff;
$blue-lighter: #edefff;
$pink: #c018a2;
$pink-dark: #9f0f85;
$pink-light: #f1ace5;
$pink-lighter: #faeff8;
$midnight: #0b032f;
$midnight-light: #322c50;
$midnight-lighter: #514c6a;
$grey: #20272c;
$grey-light: #43494d;
$midnight-lightest: #6c6782;
$grey-lighter: #565b5f;
$grey-lightest: #6f757b;
$silver: #e1e4e9;
$silver-darker: #abb0b5;
$silver-light: #f4f6f8;
$silver-lightest: #fafbfc;
$white: #ffffff;
$off-white: #fafafa;
$red: #ea3659;
$red-dark: #c72c4a;
$red-light: #ffbac7;
$red-lighter: #fcedf0;
$green: #27d06b;
$green-dark: #0c7d39;
$green-light: #89d7a9;
$green-lighter: #e3f9ec;
$orange: #f6b00a;
$purple: #7e4ebb;
$sky: #38c0f9;
$violet: #961989;
$violet-dark: #76236d;
$violet-light: #d1a4cd;
$violet-lighter: #f6e8f5;
$sky-dark: #0477a8;
$sky-light: #98defc;
$sky-lighter: #eaf8ff;
$purple-dark: #653a9b;
$purple-light: #d7b9ff;
$purple-lighter: #f1ecf8;
$orange-dark: #926700;
$orange-light: #fad57d;
$orange-lighter: #fef5de;
$silver-dark: #cfd4d8;
