.products-container{
  height: 100%;
  width: 75;

  .product {
    width: 140px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid;
    
    &:focus{
      outline: none;
    }
    
    &.selected-product {
      background-color: pink;
    }
  }
  
  .item-count{
    border-radius: 1em;
    background-color: lightblue;
    height: 20px;
    width: 36px;
    font-size: 12px;
  }
}
