@import 'component-includes';

.table-summary-container{
  padding: 48px;
}

.seat-row {
  border-bottom: 1px solid black;
  font-weight: bold;
  padding-left: 10px;
}


.receipt-body {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  background-color: white;
  color: black;
  padding: 0;
  border: 1px solid black;

  tbody{
    width: 100%;
    display: table;
  }

.main-wrap {
  width: 325px
}

  .seat-item-container {
    width: 400px;
  }

  .item-row {
    padding-left: 20px;
  }

}

.heading {
  font-weight: 600;
}

.main-wrap {
  width: 325px;
}

.item {
  font-size: 13px;
}

.seat-number {
  height: 30px;
  width: 30px;
  line-height: 32px;
  background-color: $blue-lighter;
  color: $blue;
  font-weight: 600;
}

.sidebar {
  width: 130px;
  flex: 1;
  border: 1px solid #e1e1e1;
  height: 130px;

  .header {
    font-size: 16px;
  }

  button {
    width: 100%;
    background-color: $blue;
    color: white;
    text-align: center;
    height: 32px;
    border-radius: 0;
    line-height: 16px;
  }
}

.item-name {
  width: 155px;
}

.seat-info {
  font-size: 14px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #000;
  position: absolute;
  right: -30px;
}

.footer {
  position: fixed;
  bottom: 48px;
}

button.primary {
  background-color: $pink;
  color: #fff;
}
