@import 'component-includes';

.table-summary-container{
  padding: 48px;
}

.receipt-body {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  background-color: white;
  color: black;
  padding: 0;
  border: 1px solid black;

  tbody{
    width: 100%;
    display: table;
  }

}
.heading {
  font-weight: 600;
}

.main-wrap {
  width: 325px;
}

.item {
  font-size: 13px;
}

.seat-number {
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: $blue-lighter;
  color: $blue;
  font-weight: 600;
}

.item-name {
  width: 155px;
}

.seat-info {
  font-size: 14px;
}
