@import 'component-includes';

.table-summary-container{
  padding: 48px;
}

#receipt{
  width:40%;
  border: 0.5px solid black;
  
  .seat-row {
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-left: 10px;
  }
}

.main-wrap {
  width: 325px;
}

.item {
  font-size: 13px;
}

.seat-number {
  height: 30px;
  width: 30px;
  line-height: 32px;
  background-color: $blue-lighter;
  color: $blue;
  font-weight: 600;
}

.sidebar {
  width: 130px;
  flex: 1;
  border: 1px solid #e1e1e1;
  height: 130px;

  .header {
    font-size: 16px;
  }

  button {
    width: 100%;
    background-color: $blue;
    color: white;
    text-align: center;
    height: 32px;
    border-radius: 0;
    line-height: 16px;
  }
}

.item-name {
  width: 155px;
}

.seat-info {
  font-size: 14px;
}

.pricing-row {
  width: 98px;
  margin-left: 52%;
  font-size: 13px;
}

.pricing-row-long{
  width: 127px;
  margin-left: 43%;
  font-size: 13px;
}

.pricing-row-total{
  width: 98px;
  margin-left: 52%;
  font-size: 14px;
  padding-top: 12px;
}

.sub-pricing-container{
  border-bottom: 1px solid #e1e1e1;
  padding: 4px 0px 4px 0px;
}

form {
  .modal-inputs {
    width: 150px;
  }
  label {
    font-size: 14px;
    color: #8d8d8d;
  }
  input {
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    width: 90px;
    height: 36px;
  }
}

.selected-item{
  color: blue;
}

.table-total {
  border-top: 0.5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #000;
  position: absolute;
  right: -30px;
}

// .table-summary-container {
//   .card-body{
//     max-height: 280px;
//     overflow: auto;
//     box-shadow: 0px 8px 12px 1px #f3eeee;
//   }
// }

.footer {
  position: fixed;
  bottom: 48px;
}

button.primary {
  background-color: $pink;
  color: #fff;
}
