.item {
  cursor: pointer;
  padding: 5px;
  background-color: rgb(205, 232, 243);
  border-top: 0.5px solid lightgrey;
  color: black;

  &.activeItem{
    color: red;
  }
}



.seat {
  background-color: lightgreen;
  padding: 0.5em;
  cursor: pointer;
  color: black;

  &.activeSeat{
    color: blue;
  }

}

.list-table {
  background-color: lightgrey;
  padding: 0.5em;
}

.sent {
  color: black
}

.add-table-modal {
  background-color: lightblue;
  border-radius: 15px;

  & input {
    outline: none;
  }
}

