@import 'component-includes';

.interactions-wrap {
  height: 100%;
  width: 336px;
  background-color: #f3f5f7;
  overflow-y: auto;
}

.item {
  cursor: pointer;
  padding: 5px;
  border-top: 0.5px solid lightgrey;
  color: black;

  &.activeItem{
    color: red;
  }
}



.seat {
  padding: 0.5em;
  cursor: pointer;
  color: black;

}

.list-table {
  padding: 0.5em;
  width: calc(100% - 60px);
}

.sent {
  color: black
}

.add-table-modal {
  background-color: lightblue;
  border-radius: 15px;

  & input {
    outline: none;
  }
}

.indicators {
  .seats {
    width: 32px;
    height: 32px;
    background-color: #e1e1e1;
    line-height: 35px;
    font-weight: 600;
    color: #000;
  }
}

.product-count {
  color: #000;
  font-size: 13px;
}

.subtotal {
  font-weight: 500;
  color: black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #000;
  position: absolute;
  right: 30px;
}

button.add-seat {
  height: inherit;
  background-color: transparent;
  color: white;
  border: none;
}

.table-summary {
  height: 54px;
  color: #fff;
  background-color: $blue;
  font-size: 15px;
}

.seat-index {
  width: 32px;
  height: 32px;
  background-color: #e1e1e1;
  line-height: 35px;
  font-weight: 600;
  color: #000;
}

.seat .chevron {
  position: absolute;
  right: 30px;
}

.name {
  font-size: 13px;
}
